<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品管理修改</title>
</head>
    <script src="js/app.js"></script>
    <script src="js/holder.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/bootstrap.css">
<body>

<!-- Modal -->
<div th:insert="admin/navigate::nav"></div>

    <div class="modal-header">
        <h4>客房信息修改</h4>
    </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-offset-2 col-xs-offset-2 col-lg-offset-2">
            <div class="modal-body">

                <form action="/modefyGood" method="post">
                    <div class="form-group">
                        <label for="number">编号</label>
                        <input type="number" th:value="${goodManage.goodsNums}" class="form-control" id="goods_id" placeholder="输入编号" name="goodsNums">
                    </div>
                    <div class="form-group">
                        <label for="name">名称</label>
                        <input type="text" th:value="${goodManage.goodsName}" class="form-control" id="name" placeholder="输入名称" name="goodsName">
                    </div>
                    <div class="form-group">
                        <label for="price">单价</label>
                        <input type="number" th:value="${goodManage.goodsPrice}" class="form-control" id="price" placeholder="输入单价" name="goodsPrice">
                    </div>
                    <div class="form-group">
                        <label for="number">数量</label>
                        <input type="number" th:value="${goodManage.goodsNumber}" class="form-control" id="number" placeholder="输入数量" name="goodsNumber">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">确定</button>
                    </div>
                </form>
            </div>
    </div>
</div>

</div>
</body>
</html>