<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>客房预订管理</title>
    <script src="js/app.js"></script>
    <script src="js/holder.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
<div th:insert="admin/navigate::nav"></div>

<div class="panel panel-default" style="margin-top: -20px;">
    <div class="comtent_1">


        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#" class="list-group-item active">
                            <center><strong>租房预定订单</strong></center>
                        </a>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-hover table-responsive">
                            <thead>
                            <tr>
                                <th>编号</th>
                                <th>预定人姓名</th>
                                <th>身份证号</th>
                                <th>房间号</th>
                                <th>预定时间</th>
                                <th>离开时间</th>
                                <th>定金</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="bookRoom : ${bookRooms}">
                                <th th:text="${bookRoom.id}">1</th>
                                <th th:text="${bookRoom.userName}">王慧凯</th>
                                <th th:text="${bookRoom.idCard}">130225*********</th>
                                <th th:text="${bookRoom.roomNummber}"></th>
                                <th th:text="${#dates.format(bookRoom.inTime,'yyyy-MM-dd')}">2020年5月20日</th>
                                <th th:text="${#dates.format(bookRoom.outTime,'yyyy-MM-dd')}"></th>
                                <th th:text="${bookRoom.deposit}">100</th>
                                <td>
                                    <form action="/getReserId" method="post">
                                        <button  type="submit" class="btn btn-success" name="id" th:value="${bookRoom.id}">修改</button>
                                    </form>

                                    <form action="/delectReser" method="post" >
                                        <button type="submit" class="btn btn-danger" th:value="${bookRoom.id}" name="id">删除</button>
                                    </form>
                                    <form action="/define" method="post">
                                        <button type="submit" class="btn  btn-primary" th:value="${bookRoom.id}" name="id">确认</button>
                                    </form>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="login-modal" tabindex="-1" data-remote="reservation_modefy.html">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>



</body>
</html>