<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>预定订单修改</title>
</head>

<body>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/app.js"></script>
<script src="js/holder.js"></script>
<script src="js/bootstrap.min.js"></script>

<link rel="stylesheet" href="css/bootstrap.css">
<!-- Modal -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">公寓管理系统</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/roomManage">客房管理</a></li>
                <li><a href="/goodsMange">商品管理</a></li>
                <li><a href="/reservation_management">预定管理</a></li>
                <li class="dropdown">
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">王峥 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="modal-header">
    <h4>预定客户信息修改</h4>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-offset-2 col-xs-offset-2 col-lg-offset-2">

            <div class="modal-body">

                <form  action="/modefyReser" method="post">
                    <div class="form-group">
                        <label for="name">姓名</label>
                        <input type="text" th:value="${bookRoom.userName}" class="form-control" id="name" placeholder="输入预定姓名" name="userName">
                    </div>
                    <div class="form-group">
                        <label for="number">身份证号</label>
                        <input type="number" th:value="${bookRoom.idCard}" class="form-control" id="number" placeholder="输入预定人身份证号"  name="idCard">
                    </div>
                    <div class="form-group">
                        <label for="num">房间号</label>
                        <input type="number" th:value="${bookRoom.roomNummber}" class="form-control" id="num" placeholder="输入房间号" name="roomNummber">
                    </div>
                    <div class="form-group" id='datetimepicker1'>
                        <label for="indata">预定时间</label>
                        <input type="date" th:value="${#dates.format(bookRoom.inTime,'yyyy-MM-dd')}" class="form-control" id="indata" placeholder="输入预定时间"  name="inTime">
                    </div>
                    <div class="form-group" id='datetimepicker2'>
                        <label for="outdata">离开时间</label>
                        <input type="date" th:value="${#dates.format(bookRoom.outTime,'yyyy-MM-dd')}" class="form-control"  id="outdata" placeholder="输入离开时间" name="outTime">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="name">定金</label>
                        <select th:value="${bookRoom.deposit}" name="deposit">
                            <option>50</option>
                            <option>100</option>
                            <option>150</option>
                            <option>200</option>
                            <option>250</option>
                            <option>300</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">确定</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


</body>

</html>