<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>预约看房订单修改</title>
</head>
<script src="js/app.js"></script>
<script src="js/holder.js"></script>
<script src="js/bootstrap.min.js"></script>

<link rel="stylesheet" href="css/bootstrap.css">
<body>

<!-- Modal -->
<div th:insert="admin/navigate::nav"></div>

    <div class="modal-header">
        <h4>客房信息修改</h4>
    </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-offset-2 col-xs-offset-2 col-lg-offset-2">
                <div class="modal-body">

                    <form action="/modefyRoom" method="post">
                        <div class="form-group">
                            <label for="number">房间号</label>
                            <input type="number" class="form-control" id="number" placeholder="输入房间号" th:value="${roomManage.roomNums}" name="roomNums">
                        </div>
                        <div class="form-group">
                            <label for="name" >姓名</label>
                            <input type="text" th:value="${roomManage.username}" class="form-control" id="name" placeholder="输入预定姓名" name="username">
                        </div>
                        <div class="form-group">
                            <label for="name" >入住状态</label>
                            <select name="checkIn">
                                <option value="1" >已入住</option>
                                <option  value="0">已离店</option>
                            </select>
                            <label for="name">是否停用</label>
                            <select name="status">
                                <option value="0">是</option>
                                <option value="1">否</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="data1">入住日期</label>
                            <input type="date" th:value="${#dates.format(roomManage.inTime,'yyyy-MM-dd')}"  name="inTime" class="form-control" id="data1" placeholder="输入入住日期">
                        </div>
                        <div class="form-group">
                            <label for="data2">离开日期</label>
                            <input type="date" class="form-control" th:value="${#dates.format(roomManage.outTime,'yyyy-MM-dd')}" name="outTime" id="data2" placeholder="输入入住日期">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">确定</button>
                        </div>
                    </form>
                </div>

        </div>

    </div>
</div>



</body>

</html>