<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>出错了</title>
    <link rel='stylesheet' href='https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:500,700&amp;display=swap'>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>


    <div class="segment">
        <h1>出错了!!!!</h1>
        <h2>服务器冒烟了,请重新登录!</h2>
        <a href="/index"><h3 style="color: #BABECC;">点此重新登录</h3></a>
    </div>



</body>
</html>
